@charset "utf-8";
div{
	width: 400px;
	height:235px;
	box-shadow: 5px 10px 5px gray;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: #E6E6E6;
}

h2 {
	color: green;
	text-align: center;	
}

a {
	color: black;	
}

span {
	color: red;	
}

section {
	background-color: #999;
	color: blue;	
}
